<!DOCTYPE html>
<html>

<head>
    <title>Test</title>
</head>

<body>
    <form action="/" method="post">
        Name <input type="text" name="name" id="name">
        Age <input type="text" name="age" id="age">
        <button type="submit">submit Query</button>
    </form>
</body>

</html>